.btn2 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.btn2 .btn.btn-secondary {
  margin: 5%;
}

body {
  background-image: url("../image/301412-Pokemon-748x421.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

#time {
  font-size: 36px;
  font-weight: bold;
}
