.btn2{
display: flex;
justify-content: center;
margin-top: 5%;
    .btn.btn-secondary{
        margin: 5%;
    }
}

body{
    background-image: url("../../../image/301412-Pokemon-748x421.jpg");
    height: 100%;
    width: 100%;
}
.btn2 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  .btn2 .btn.btn-secondary {
    margin: 5%;
  }
  
  body {
    background-image: url("../image/301412-Pokemon-748x421.jpg");
    background-size: cover;
    height: 80vh;
    width: 100%;
  }
  
  #time {
    font-size: 36px;
    font-weight: bold;
  }

.container{
    margin-top: 6%;
}
.titre {
    height: 50px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.col.un{
    margin-top: 4%;
    
}
